sentence_transformers
scikit-learn
json-repair
pymupdf
torch
requests
memvid
distfit
ipywidgets
llama-cpp-python
distfit
hnswlib
pysqlite3
markitdown[all]
langextract[openai]

# flash_attn
# accelerate
# bitsandbytes